/* jezGeneral.css */
html,body,object,iframe,div,span,img,h1,h2,h3,h4,h5,h6,p,em,a,pre,code,dfn,acronym,abbr,address,blockquote,del,q,form,fieldset,legend,label,ul,ol,li,dl,dt,dd,table,caption,thead,tbody,tfoot,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;vertical-align:baseline}
table{border-collapse:collapse;border-spacing:0}
th,td{text-align:left}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:""""}
.showgrids{background:url(./grids.png)}

/* jezTypography.css */
body{font:75%/1.5em Arial,Helvetica,sans-serif;font-style:normal;font-variant:normal;font-weight:normal}
hr{margin:0 0 1.333em}
h1,h2{letter-spacing:2px;word-spacing:.1em}
h1,h2,h3,h4,h5,h6{color:#333;font-weight:bold}
h1,h2{font-size:1.5em;line-height:2em}
h3,h4{font-size:1.333em;line-height:2.25em}
h5,h6{font-size:1.167em;line-height:2.571em}
h2,h4,h6{font-weight:normal}
p{letter-spacing:.03em;margin-bottom:1.5em;word-spacing:.08em}
p img{float:left;margin:0 1em 1.5em 0}
font,basefont{font:inherit}
em{font-style:italic}
big{font:inherit;font-size:1.167em;line-height:1em}
b,strong{font-weight:bold}
small,sup,sub{font-size:.833em;line-height:1em}
sup{vertical-align:45%}
sub{vertical-align:-15%}
pre,code,tt{color:#c33;font:inherit;line-height:1.5em}
pre,code{margin-bottom:1.5em;white-space:pre}
kbd,var,samp{font-family:monaco,"Lucida Console",courier,monospace;line-height:1em}
dfn{border-bottom:.083em solid #000;font-style:italic;font-weight:bold}
dfn[title]{border-bottom:.083em solid #ccc;cursor:help}
acronym,abbr{letter-spacing:.1em;text-transform:uppercase}
acronym[title],abbr[title]{border-bottom:.083em solid #ccc;cursor:help}
a acronym[title],a abbr[title]{border:0}
address{font-style:italic;margin-bottom:1.5em}
blockquote{border-left:.25em solid #ccc;margin:0 1em 1.5em;padding-left:.75em}
cite{font-style:italic}
ins{border-bottom:.083em solid #ccc}
del{color:#666;text-decoration:line-through}
a{outline:none;text-decoration:underline}
a:link{color:#36c}
a:hover{color:#c33}
a:active{color:#000}
a:visited{color:#99c}
fieldset{border:.083em solid #ccc;margin-bottom:1.5em;padding:1.417em 1em}
fieldset div{margin-bottom:1.5em}
fieldset >div:last-child,fieldset div div{margin-bottom:0}
legend{color:#888;font-size:1.167em;font-weight:bold;margin-bottom:.071em;padding:0 .571em}
label{font-weight:bold}
input,select{cursor:pointer;font-size:.833em;vertical-align:top}
input[type='text'],input[type='password'],select{background-color:#fff;border:.1em solid #ccc;margin-bottom:.1em}
select.focus,input[type='text']:focus,input[type='password']:focus,select:focus{border-color:#888;outline:.2em solid #ffa}
input[type='radio'],input[type='checkbox']{height:1.8em;margin:0;width:1.8em}
input[type='button'],input[type='submit'],input[type='reset']{margin-top:-.1em}
html>/**/body input[type='button'],html>/**/body input[type='submit'],html>/**/body input[type='reset'],x:-moz-any-link,x:default{margin-bottom:-.1em;margin-top:-.2em}
textarea{background-color:#fff;border:.071em solid #ccc;font:inherit;font-size:1.167em;height:7.714em;margin:-.143em 0;padding:.071em .143em;width:98%}
input[type='text'],input[type='password'],textarea{cursor:text}
select.hover,textarea.hover,input[type='text']:hover,input[type='password']:hover,select:hover,textarea:hover{border-color:#aaa}
textarea.focus,textarea:focus{border-color:#888;outline:.143em solid #ffa}
select[size]{font-size:1em;margin:0}
select[size='1']{font-size:.833em;margin-bottom:.1em}
select[size='2']{height:3em}
select[size='3']{height:4.5em}
select[size='4']{height:6em}
select[size='5']{height:7.5em}
select[size='6']{height:9em}
select[size='7']{height:10.5em}
select[size='8']{height:12em}
select[size='9']{height:13.5em}
ul{list-style-position:outside;margin:0 0 1.5em 1.5em}
ul li{padding-left:.417em}
ol{list-style-type:decimal;margin:0 0 1.5em 1.917em}
ol ol{margin-left:1.917em}
ul ol,ol ul{margin-left:1.417em}
dl{margin:0 1em 1.5em}
dl dt{font-weight:bold;margin-top:1.5em}
dl dt:first-child{margin-top:0}
dl dd{margin-left:2em}
table{margin-bottom:1.5em}
caption{font-family:Georgia,serif;text-align:center}
thead{background-color:#ddd}
tfoot{background-color:#eee;font-style:italic}
th,thead td{font-weight:bold}
tr,th,td{padding:0 1em}
p img.right{float:right;margin:0 0 1.5em 1em}
blockquote.qmarks{border:0;border-bottom:.083em solid #ccc;border-top:.083em solid #ccc;color:#666;margin:0 1em 1.417em;padding:1.417em 1em 0}
blockquote.qmarks p{color:#666}
blockquote.qmarks *:first-child:before{content:"\201C"}
blockquote.qmarks *:last-child:after{content:"\201D"}
a[href^="http:"],a[href^="mailto:"],a[href^="aim:"],a[href$=".pdf"],a[href$=".doc"],a[href$=".xls"],a[href$=".rss"],a[href$=".rdf"]{background-position:right top;background-repeat:no-repeat;padding-right:2em}
a[href$=".pdf"]{background-image:url(../images/icons/silk/page_white_acrobat.png)}
a[href$=".doc"]{background-image:url(../images/icons/silk/page_white_word.png)}
a[href$=".xls"]{background-image:url(../images/icons/silk/page_white_excel.png)}
a[href$=".rss"],a[href$=".rdf"]{background-image:url(../images/icons/silk/feed.png)}
a[href^="aim:"]{background-image:url(../images/icons//silk/comments.png)}
a[href^="http:"]{background:url(../images/icons/external.png) right center no-repeat;padding-right:1.25em}
a[href^="mailto:"]{background-image:url(../images/icons/silk/email.png)}
a.noicon{background:none;padding:0}
textarea.shortest{height:2.571em}
textarea.shorter{height:5.143em}
textarea.longer{height:10.286em}
textarea.longest{height:20.571em}
button,a.button{background-color:#ddd;border:.083em solid #a0a0a0;border-left:.083em solid #e0e0e0;border-top:.083em solid #e0e0e0;color:#565656;cursor:pointer;font:inherit;font-weight:bold;margin:-.25em .5em -.25em 0;white-space:nowrap}
button{height:2em;overflow:visible;padding:.083em .5em .25em;width:auto}
a.button{display:block;float:left;height:1.5em;padding:.167em .5em;text-decoration:none}
button img,a.button img{border:0;float:none;height:1.333em;margin:0 .5em -.333em 0;padding:0;width:1.333em}
button:hover,a.button:hover{background-color:#dff4ff;color:#369}
button:focus,a.button:active{background-color:#6299c5;color:#fff}
button.positive,a.positive{color:#529214}
button.positive:hover,a.positive:hover{background-color:#e6efc2;color:#529214}
button.positive:focus,a.positive:active{background-color:#529214;color:#fff}
button.negative,a.negative{color:#d12f19}
button.negative:hover,a.negative:hover{background:#fbe3e4;color:#d12f19}
button.negative:focus,a.negative:active{background-color:#d12f19;color:#fff}
ul.accept,ul.add,ul.bell,ul.star,ul.tick,.starburst{list-style:none}
ul.accept li,ul.add li,ul.bell li,ul.star li,ul.tick li,li ul.accept li,li ul.add li,li ul.bell li,li ul.star li,li ul.tick li{background:url(../images/icons/silk/accept.png) left top no-repeat;line-height:1.5em;padding-left:24px}
ul.add li,li ul.add li{background-image:url(../images/icons/silk/add.png)}
ul.bell li,li ul.bell li{background-image:url(../images/icons/silk/bell.png)}
ul.star li,li ul.star li{background-image:url(../images/icons/silk/star.png)}
ul.tick li,li ul.tick li{background-image:url(../images/icons/silk/tick.png)}
ul.starburst li{background:url(../images/icons/starburst.png) left top no-repeat;line-height:3em;padding-left:42px}
ol.starburst li{line-height:3em;padding-left:42px}
.starburst li.i1,ol.starburst li[value='1']{background:url(../images/icons/nums/1.png) left top no-repeat}
.starburst li.i2,ol.starburst li[value='2']{background:url(../images/icons/nums/2.png) left top no-repeat}
.starburst li.i3,ol.starburst li[value='3']{background:url(../images/icons/nums/3.png) left top no-repeat}
.starburst li.i4,ol.starburst li[value='4']{background:url(../images/icons/nums/4.png) left top no-repeat}
.starburst li.i5,ol.starburst li[value='5']{background:url(../images/icons/nums/5.png) left top no-repeat}
.starburst li.i6,ol.starburst li[value='6']{background:url(../images/icons/nums/6.png) left top no-repeat}
.starburst li.i7,ol.starburst li[value='7']{background:url(../images/icons/nums/7.png) left top no-repeat}
.starburst li.i8,ol.starburst li[value='8']{background:url(../images/icons/nums/8.png) left top no-repeat}
.starburst li.i9,ol.starburst li[value='9']{background:url(../images/icons/nums/9.png) left top no-repeat}
.starburst li.i10,ol.starburst li[value='10']{background:url(../images/icons/nums/10.png) left top no-repeat}
.starburst li.etc{background:url(../images/icons/nums/etc.png) left top no-repeat}
.morespace{margin-top:1.5em}
.morespace li{margin-bottom:1.5em}
table.borders{border-left:.083em solid #ccc;border-top:.083em solid #ccc;margin-bottom:1.417em}
@-moz-document url-prefix(){table.borders{margin-bottom:1.5em}}
table.borders caption{line-height:3em}
table.borders th,table.borders td{border-bottom:.083em solid #ccc;border-right:.083em solid #ccc;padding:.667em 1em .75em 1em}
.byline{color:#666;display:block;font-family:"Lucida Grande",Tahoma;font-size:.833em;font-variant:normal;font-weight:lighter;letter-spacing:.4em;line-height:1.8em;margin-bottom:1.8em;padding-left:1.2em;text-transform:uppercase}
.oldbook{font-family:"Book Antiqua","Warnock Pro","Goudy Old Style","Palatino",Georgia,serif}
span.oldbook{line-height:1em}
.note{color:#333;font-family:Georgia,"Times New Roman",Times,serif;font-style:italic}
span.note{line-height:1em}
.fancy{color:#666;font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;font-style:italic;font-weight:normal}
span.fancy{line-height:1em}
.caps{font-variant:small-caps;font-weight:bold;letter-spacing:.083em;padding:0 .167em;text-transform:lowercase}
.small{font-size:.833em}
span.small{line-height:1em}
p.small{margin-bottom:1.8em}
.large{font-size:1.167em}
span.large{line-height:1em}
p.large{margin-bottom:1.286em}
.hide{display:none}
.quiet{color:#666}
.loud{color:#000}
.highlight{background-color:#ff0}
.thin{font-weight:lighter}
.bold{font-weight:bold}
.water{color:#5582d1}
.earth{color:#4e3e2c}
.air{color:#f1fff7}
.fire{color:#ff8a19}
.wine{color:#4a040a}
.beer{color:#F0C030}
.caffe{color:#473523}
.caffe-cream{color:#b68d3d}
.espresso{color:#2c1901}
.caramel{color:#ab671f}
.chocolate{color:#290200}
.black-pepper{color:#444334}
.pepper-lite{color:#8d8a72}
.lipstick{color:#c20c0c}
.error,.notice,.success{border:0.167em solid #ddd;display:block;margin-bottom:1.5em;padding:1.333em 1em}
.error{background-color:#fbe3e4;border-color:#fbc2c4;color:#8a1f11}
.notice{background-color:#fff6bf;border-color:#ffd324;color:#514721}
.success{background-color:#e6efc2;border-color:#c6d880;color:#264409}
.error a{background:none;color:#8a1f11;padding:0}
.notice a{background:none;color:#514721;padding:0}
.success a{background:none;color:#264409;padding:0}

/* jezLayouts.css */
.container{margin:0 auto;text-align:left}
.fluid{float:none;width:auto}
.fl{float:left}
.fr{float:right}
.clr{clear:both}
.clearfix:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}
.tr:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden}
.tr{display:inline-block}
html[xmlns] .tr{display:block}
* html .tr{height:1%}
.tc{margin-right:2%}
.gr1 >.fl,.gr1 >.fr,.gr1 >.tc{margin-right:0;width:100%}
.gr2 >.fl,.gr2 >.fr,.gr2 >.tc{width:49%}
.gr3 >.fl,.gr3 >.fr,.gr3 >.tc{width:32%}
.gr4 >.fl,.gr4 >.fr{width:24%}
.gr4 >.tc{width:23%}
.gr4 >.tc:first-child{width:24%}
.gr5 >.fl,.gr5 >.fr{width:19%}
.gr5 >.tc{width:18%}
.gr5 >.tc:first-child{width:19%}
.w10p{width:10%}
.tc.w10p{width:8%}
.w20p{width:20%}
.tc.w20p{width:18%}
.w30p{width:30%}
.tc.w30p{width:28%}
.w40p{width:40%}
.tc.w40p{width:38%}
.w50p{width:50%}
.tc.w50p{width:48%}
.w60p{width:60%}
.tc.w60p{width:58%}
.w70p{width:70%}
.tc.w70p{width:68%}
.w80p{width:80%}
.tc.w80p{width:78%}
.w90p{width:90%}
.tc.w90p{width:88%}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.taj{text-align:justify}
.moduletable,.moduletable_menu,.moduletable_text{margin-bottom:1.5em}
div.module,div.module_menu,div.module_text{background-position:left bottom;background-repeat:no-repeat;margin-bottom:1.5em}
div.module div,div.module_menu div,div.module_text div{background-position:left top;background-repeat:no-repeat}
div.module div div,div.module_menu div div,div.module_text div div{background-position:right bottom;background-repeat:no-repeat}
div.module div div div,div.module_menu div div div,div.module_text div div div{background-position:right top;background-repeat:no-repeat;padding:1.5em}
div.module div div div div,div.module_menu div div div div,div.module_text div div div div{background:none;padding:0}
.jezRounded6ImgsNested{background-position:left top;background-repeat:repeat-y;margin-bottom:1.5em}
.jezRounded6ImgsNested div.in1{background-position:right top;background-repeat:repeat-y}
.jezRounded6ImgsNested div.in2{background-position:left top;background-repeat:no-repeat}
.jezRounded6ImgsNested div.in3{background-position:right top;background-repeat:no-repeat}
.jezRounded6ImgsNested div.in4{background-position:left bottom;background-repeat:no-repeat}
.jezRounded6ImgsNested div.in5{background-position:right bottom;background-repeat:no-repeat;padding:1.5em}
.jezRounded6Imgs{margin-bottom:1.5em}
.jezRounded6Imgs div.hd,.jezRounded6Imgs div.bd,.jezRounded6Imgs div.ft{background-position:left top;background-repeat:no-repeat;margin-right:18px}
.jezRounded6Imgs div.hd div.c,.jezRounded6Imgs div.bd div.c,.jezRounded6Imgs div.ft div.c{background-position:right top;background-repeat:no-repeat;height:18px;margin-right:-18px}
.jezRounded6Imgs div.bd,.jezRounded6Imgs div.bd div.c{background-repeat:repeat-y}
.jezRounded6Imgs div.bd div.c{height:auto}
.jezRounded6Imgs div.bd div.c div.s{background-position:left top;background-repeat:repeat-x;height:auto;padding:0 1.5em}
.jezRounded1Img{margin:0 0 1.5em 18px;position:relative}
.jezRounded1Img div.inner{background-position:right top;background-repeat:no-repeat;padding:1.5em 1.5em 0 0;position:relative;z-index:98}
.jezRounded1Img div.wrapper{overflow:auto;position:static}
.jezRounded1Img div.t{background-position:left top;background-repeat:no-repeat;height:100%;left:0;margin-left:-18px;position:absolute;top:0;width:18px}
.jezRounded1Img div.b{background-position:right bottom;background-repeat:no-repeat;height:18px;position:relative;width:100%;z-index:0}
.jezRounded1Img div.b div{background-position:left bottom;background-repeat:no-repeat;margin-left:-18px;height:18px;position:relative;width:18px}

